@import 'styles/theming';
@import 'styles/typography';

$client-group-primary: mat-palette($mat-indigo, 700);
$client-group-accent: mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$client-group-warn: mat-palette($mat-orange);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-group-theme: mat-light-theme((
  color: (
    primary: $client-group-primary,
    accent: $client-group-accent,
    warn: $client-group-warn,
  )
));
@include ngpeer-material-theme($client-group-theme);


/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Fira Sans', sans-serif; }

h1,h2,h3,h4,h5 {
  font-family: 'Fira Sans', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
.mat-grid-tile .mat-figure {
  display: flex;
  flex-direction: column;

  label {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    filter: invert(0.3);
  }
}
