@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap');

$client-group-typography: mat-typography-config(
  $font-family: "'Fira Sans', sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($client-group-typography);

