:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .mat-toolbar {
    i.material-icons {
      color: #ff9800;
      margin: 12px;
    }
  }
  .mat-drawer-container {
    flex: 1;
  }

  video {
    flex: 1;
    max-width: 100%;
  }

  .mat-toolbar.footer {
    justify-content: center;
    align-items: center;
    font-size: 95%;
  }
}
